{% extends 'layout.html' %}

{% block body %}
--HELLO WORLD!!--
<p>
dsgdf<br>

fgfd<br>
ggds<br>
vdsv
dsvv
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nobis rerum explicabo tempore deleniti ipsam at, repellendus ea, modi architecto itaque maiores cum officia perspiciatis sapiente et sequi cupiditate nulla!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, quisquam ullam dolorum enim, accusamus earum, eveniet omnis reiciendis fugiat iure voluptate? Doloremque, voluptatibus earum perferendis quisquam cum alias expedita provident.</p>
{% endblock %}